@import 'src/styles/base';

.schedule {
	margin: 0 auto;
	width: 75%;
}

.image	{
	display: block;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

@media (max-width: $tabletBreakpoint){
  .header {
    font-size: $headerMedium;
  }
}