@import 'src/styles/base';

.faq {
  padding: 75px 10%;
}

@media (max-width: $tabletBreakpoint) {

  .faq {
    padding: 75px 15px;
  }

}

.header {
  font-family: "Pier Sans Bold", sans-serif;
  font-weight: bold;
  text-align: right;
  color: $headerFAQ;
  letter-spacing: 0px;
  font-size: $headerBig;
  margin: 0;
}