@import 'src/styles/base';

.link, .link:hover, .link:visited, .link:link, .link:active {
	text-decoration: none;
	color: #FFFFFF;
}

.sponsors {
	height: 100%;
	padding-top: 75px;
	padding-bottom: 25px;
	margin: 0 auto;
	width: 75%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.header {
  font-family: "Pier Sans Bold", sans-serif;
  font-weight: bold;
  text-align: left;
  color: $sponsorsColor;
  letter-spacing: 0px;
  font-size: $headerBig;
  margin: 0;
}

.homeButton {
  margin: 0 auto;
  display: block;
  padding: 0px;
  font-size: 1em;
  color: white;
  background-color: $applyBlue;
  border: none;
  border-radius: 1.25em;
  width: 8em;
  height: 2.5em;
}

.homeButton:hover {
 	background-color: darken($applyBlue, 10%);
}

.section {
	padding-top: 25px;
}

.logobox {
	padding: 100px 0vw 0px 0vw;
	margin: 0 auto;
	background-size: 100% 100%;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}

.sponsorsText {
	text-align: center;
	padding-left: 25vw;
	padding-right: 25vw;
}

.sponsorsRow {
	display: flex;
	flex-direction: row;
}
@media (max-width: $tabletBreakpoint) {

  .header {
    font-size: $headerMedium;
  }

	.sponsorsText {
		padding-left: 15px;
		padding-right: 15px;
		text-align: left;
	}

}

@media (max-width: $desktopBreakpoint) {


	.logobox {
		padding-top: 100px;
		width: 100%;
	}
}
