@import 'src/styles/base';

.sectionContainer {
  padding-top: 70px;
  color: #979797;
}

.image{
  display: block;
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  margin: auto;
}

.contentSection {
  padding-top: 50px;
}

.sectionHeader {
  font-family: "Avenir", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: $headerMedium;
}

.sectionText {
  padding-top: 5px;
  font-family: "Avenir", sans-serif;
  font-size: 1.4em;
  text-align: center;
  font-weight: light;
  width: 75%;
  letter-spacing: 1px;
  line-height: 1.4em;
  margin:0px auto;
}

@media (max-width: $tabletBreakpoint) {
  .header {
    text-align: center;
  }
}

