@import 'src/styles/base';

.speakers {
  padding: 75px 0;
}

.header {
  text-align: right;
  font-family: "Piers Sans Bold", sans-serif;
  font-weight: bold;
  color: #89F07C; //will be added into the global stylesheet
  left: 0px;
  font-size: $headerBig;
  margin: 0;
}

@media (min-width: $tabletBreakpoint){
  .header {
    text-align: right;
  }
}

@media (min-width: $desktopBreakpoint){
  .header {
    text-align: right;
  }
}
