@import 'src/styles/base';

.section {
  padding-top: 20px;
}

.sectionText {
  text-align: left;
  padding-top: 9px;
  color: $ideateText;
  line-height: 1.4em;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.link {
  padding: 0;
  cursor: pointer;
}

.sectionHeader {
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  font-size: 2.5em;
  color: $ideateText;
}