@import 'src/styles/base';

.section {
  padding-top: 20px;
}

.sectionText {
  text-align: left;
  padding-top: 9px;
  color: $ideateText;
  line-height: 1.4em;
  font-size: $infoSize;
  letter-spacing: 1px;
}

.sectionHeader {
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
  font-size: $headerSmall;
  color: $ideateText;
}
