@import './navbar';

$applyGray: #D8D8D8;
$applyBlue: #2AA2F7;
$aboutBlack: #4A4A4A;
$headerGray: #CDCCCE;
$footerBlack: #302F30;
$mainColor: #85ea5e;
$speakersTitle: #89F07C;
$workshopTitle: #7Cf0B5;
$headerFAQ: #7CF0DE;
$ideateText: #979797;
$sponsorsColor: #7BEFFF;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$bigDesktopBreakpoint: 1920px;

$headerBig: 6em;
$headerMedium: 3em;
$headerSmall: 2.5em;
$infoSize: 1.8em;
$quoteSize: 2.3em;
