@import './navbar';

$applyGray: #D8D8D8;
$applyBlue: #2AA2F7;
$aboutBlack: #4A4A4A;
$headerGray: #CDCCCE;
$footerBlack: #302F30;
$mainColor: #fbc09d;
$headersColor: #191f6f;
$speakersTitle: #191f6f;
$workshopTitle: #191f6f;
$headerFAQ: #191f6f;
$scheduleColor: #191f6f;
$partnersColor: #191f6f;
$registrationColor: #191f6f;
$ideateText: #979797;
$darkPeach: #f7a473;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$bigDesktopBreakpoint: 1920px;

$headerBig: 6em;
$headerMedium: 3em;
$headerSmall: 2.5em;
$headerXSmall: 2em;
$infoSize: 1.8em;
$quoteSize: 2.3em;
