@import 'src/styles/base';

.hero {
  /*50px is navBar height*/
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 250px;
  position: relative;
  font-family: "Avenir", sans-serif;
}

.videoBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.video {
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
  left: 0;
}

.lightbulb {
  display: block;
  height: 500px;
  width: 650px;
  transform: translate(-50%,-40%);
}

.headerSection {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.header {
  text-align: left;
  color: $mainColor;
  font-size: 12em;
  font-weight: bolder;
  opacity: 0.8;
  letter-spacing: 0px;
  margin: 0 auto;
  padding-bottom: 0;
  padding-left: 110px;
}

.subheader {
  color: white;
  line-height: 1.2em;
  padding-left: 110px;
  padding-bottom: 0;
  font-size: $headerMedium;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: left;
}

.buttonDiv {
  padding-bottom: 50px;
}

.registerButton {
  font-size: 5vh;
  font-color: $ideateText;
  font-weight: bold;
  border: solid 7px $mainColor;
  padding: 0;
  width: 40vh;
  height: 15vh;
  margin: 0 auto;
  display: block;
  opacity: 0.9;
  letter-spacing: 2px;
  background: none;
}

.registerLink, .registerLink:hover, .registerLink:visited, .registerLink:link, .registerLink:active {
  text-decoration: none;
  color: #FFFFFF;
}

.registerButton:hover {
  background-color: darken(#808080, 10%);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

@media (max-width: 1300px) {
  .hero {
    padding-top: 0;
  }
  .lightbulb {
    display: none;
    visibility: collapse;
    transform: none;
  }
  .header {
    padding-left: 30px;
    font-size: 10em;
  }
  .subheader {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 0;
    font-size: $headerSmall;
  }
  .registerButton {
      transform: translateY(0);
  }
}

@media (max-width: $tabletBreakpoint) {
  .hero {
    height: 60vh;
    padding: 50px 0;
    margin: 0 auto;
    background: url('static/ideate-background.png') no-repeat;
    background-size: cover;
  }
  .header {
    font-size: $headerBig;
    padding: 0;
    padding-top: 50px;
  }
  .subheader {
    line-height: 1em;
    font-size: $infoSize;
    padding: 0;
    padding-bottom: 20px;
  }
  .buttonDiv {
    padding-top: 20px;
  }
  .video {
    display: none;
  }
  .registerButton {
    font-size: 2vh;
    border: solid 5px $mainColor;
    padding: 0;
    width: 20vh;
    height: 7vh;
    margin: 0 auto;
    letter-spacing: 1px;
    transform: translateY(0);
  }
}