@import 'src/styles/base';

.sectionContainer {
  padding-top: 70px;
  color: #979797;
}

.sectionHeader {
  font-family: "Avenir", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: $headerMedium;
}

.sectionText {
  padding-top: 5px;
  font-family: "Avenir", sans-serif;
  font-size: $infoSize;
  line-height: 1.4em;
  text-align: left;
  font-weight: light;
  letter-spacing: 1px;
}

.titleDef {
  font-weight: normal;
  font-size: 35px;
}

.textQuote  {
  padding-top: 5px;
  text-align: right;
  font-size: $quoteSize;
  font-weight: 500;
  color: #979797;
}