@import 'src/styles/base';

.section {
  padding-top: 50px;
}

.sectionHeader {
  font-family: "Avenir", sans-serif;
  text-align: left;
  font-size: 2.8em;
  color: $workshopGrey;
  font-weight: bold;
}

.sectionSubheader {
  font-family: "Avenir", sans-serif;
  text-align: left;
  font-size: 2.3em;
  color: $workshopGrey;
  font-weight: bold;
}

.sectionText {
  text-align: left;
  padding-top: 20px;
  color: $workshopGrey;
  line-height: 1.5em;
  font-size: 1.5em;
}

@media (min-width: $tabletBreakpoint) {

  .sectionHeader {
    text-align: center;
    padding-bottom: 10px;
  }

  .sectionSubheader {
    text-align: center;
    padding-bottom: 10px;
  }

  .sectionText {
    padding-top: 20px;
    text-align: center;
  }

}

@media (min-width: $desktopBreakpoint) {

  .section {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .sectionHeader {
    text-align: left;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .sectionSubheader {
    text-align: left;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .sectionText {
    padding-right: 30px;
    text-align: left;
    transform: translate(0, -1px);
  }

}
