@import 'src/styles/base';

.ready {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Avenir", sans-serif;
  text-align: center;
  font-size: 4em;
  color: $headersColor;
}

.button, .button:hover, .button:link {
  text-decoration: none;
  color: #FFFFFF;
}

.register{
  padding: 25px 0;
  width: 40%;
  min-width: 400px;
  background-color: $darkPeach;
  font-family: "Avenir", sans-serif;
  font-size: 4em;
  margin-top: 30px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

@media (max-width: $tabletBreakpoint) {
  .ready {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 3em;
  }

  .register{
    margin-top: 10px;
    margin-bottom: 30px;
    min-width: 300px;
    font-size: 3em;
  }
  
}
