@import 'src/styles/base';

.about {
	padding: 75px 0;
}

.header {
  font-family: "Avenir", sans-serif;
  text-align: left;
  color: $workshopTitle;
  letter-spacing: 5px;
  font-size: $headerSmall;
	font-weight: bolder;
  margin: 0;
}

@media (min-width: $tabletBreakpoint) {

  .header {
    text-align: left;
    font-size: $headerSmall;
		font-weight: bolder;;
  }

}

@media (min-width: $desktopBreakpoint) {

  .header {
    font-size: $headerBig;
		font-weight: bolder;
  }

}
