@import 'src/styles/base';

.workshops {
	padding: 75px 0;
  margin: 0 auto;
  width: 75%;
}

.header {
  font-family: "Pier Sans Bold", sans-serif;
  text-align: left;
  color: $workshopTitle;
  letter-spacing: 0px;
  font-size: $headerBig;
  margin: 0;
}

.sessionOne {
  padding-top: 20px;
  font-family: "Avenir", sans-serif;
  text-align: left;
  font-size: $headerBig - 1;
  color: $darkPeach;
}

.sessionTwo {
  padding-top: 20px;
  font-family: "Avenir", sans-serif;
  text-align: left;
  font-size: $headerBig - 1;
  color: #darkPeach;
}

@media (max-width: $tabletBreakpoint) {
  
  .header {
    font-size: $headerMedium;
  }
  
}
